/vendor
/node_modules

.env
.env.backup
.env.production

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/*.key

/public/storage
/public/phpmyadmin

npm-debug.log
yarn-error.log

*.log
*.sh

rodar_tudo.php
terminal-server.js

usuario_*.json

zi0oXsjm
testfile

/public/build
/public/.user.ini